<div class="wrapper">
  <div class="wrapper__cell">
    <div class="wrapper__content">
      <div class="home-page">
        <img src="{{image}}" alt="{{title}}" class="home-page__logo">
        <div class="home-page__info">
          {{#info}}
            {{this}}.<br>
          {{/info}}
        </div>
        <div class="links">
          {{#links}}
            <a href="{{url}}" title="{{title}}" class="links__item">{{title}}</a>
          {{/links}}
        </div>
      </div>
    </div>
  </div>
</div>
